/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

/* CSS Variables */
:root {
  --branding-color:rgb(27, 128, 230);
  --secondary-color: #F9F7FE;
  --heading-font-family:'Playfair Display', serif;
  --default-font-family:'Poppins', sans-serif;

}

/* Intro Styling */

body{
  font-family: var(--default-font-family);
}
h1,h2,h3,h4,h5,h6{
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

p{
  font-weight:normal;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding:160px 20px;
 
 }
.hero p{
font-size: 36px;
font-weight: bold;
margin:0;
color:#272142;
}
h1 {
  font-size: 96px;
  
}
 
.hero h2 {
  font-family:var(--default-font-family);
  font-size: 24px;
  font-weight: 200;
  line-height: 2;
}

h3 {
  font-size: 24px;
  opacity: 0.6;
}
/*style buttons*/
.btn{
  background-color:var(--branding-color);
  border:none;
  color:white;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 18px;
  line-height: 27px;
  margin-top: 20px;
 
}  
/*Darker background on mouse-over*/
.btn:hover{
  background-color: rgb(61, 144, 228);
}







/* Navigation Bar Styling */
.navbar {
  background-color: #f6f6f6;
  font-size: 1.3em;

}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2a055a;
  overflow: hidden;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
}



/* Styling Images */
.img-fluid {
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}



/* Styling the Paragraph */
p {
  font-size: 1.1em;
  line-height: 1.5;
}
/*styling the buttons*/
.btn-primary {
  background-color: #503bff;
  border: 1px solid #503bff;
  padding: 15px;
}
.btn-primary:hover {
  background-color: #3d2ec4;
}

/* Use media queries to adjust the style based on the screen size */
@media only screen and (max-width: 768px) {
  body {
    max-width: 95%;
  }

  .box {
    margin: 50px;
  }

  .navigation-links {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
}
