/* CSS Variables */
:root {
  --branding-color:rgb(27, 128, 230);
  --primary-color:#ffffff;
  --secondary-color: #f9f7fe;
  --tertiary-color:#503bff;
  --heading-font-family:'Playfair Display', serif;
  --default-font-family:'Poppins', sans-serif;

}

/*Global Styling */

body{
  font-family: var(--default-font-family);
  margin: 30px ;
}
/* Navigation Bar Styling */
.navbar {
  font-size: 1.2em;
  margin: 20px;
}

.navbar-brand {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ff007b;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  float: left;
  padding: 14px 16px;
  text-decoration: none;
 color: #fc00a3;
 
}



span {
  color: #fc00a3;
  font-size: 22px;
}
span:hover {
  color: black;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 0;
  list-style: none;
}
 
h1,h2,h3,h4,h5,h6{
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding:160px 20px;
 }

.hero p{
font-size: 2rem;
font-weight: bold;
margin:0;
color:#272142;
}

h1 {
  font-size: 96px; 
  line-height: 1.5;
}

h2{
  font-size: 64px;
}
 
.hero h2 {
  font-family:var(--default-font-family);
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.4;
}

h3 {
  font-size: 20px;
  opacity: 0.8;
}

p{
  font-weight:normal;
  font-size: 16px;
  line-height: 30px;
}
/*style buttons*/
.btn{
  background-color:var(--branding-color);
  border:none;
  color: var(--primary-color);
  padding: 12px 24px;
  font-size: 18px;
  line-height: 27px;
  margin-top: 20px;
  cursor: pointer;
 
}  
/*Darker background on mouse-over*/
.btn:hover{
  background-color: rgb(61, 144, 228);
}

#portfolio{
  font-size: 36px;
  margin: 10px;
  padding: 15px;
  color: #2a055a;

}
.project-description{
  padding: 120px 60px;

}

/*style the buttons*/
.btn-primary {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  padding: 15px;
}
.btn-primary:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

/* Style the Images */
.img-fluid {
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Use media queries to adjust the style based on the screen size */
@media only screen and (max-width: 768px) {
  body {
    max-width: 95%;
  }

  .hero {
    margin: 50px;
  }

  p {
    font-size: 1rem;
  }

  .project-description{
    padding: 0;
    text-align: center;
  }

  h1{
    font-size: 44px;
    line-height: 1.5;
   
  }
  h2{
    font-size: 44px;
  }
  .hero{
    padding: 80px 20px;
  }
}
